.carousel__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-over-mobile) {
    flex-direction: row;
    margin: 20px;
  }

  li {
    margin: 0 0 0;
    height: 330px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;

    @media (min-width: $breakpoint-over-mobile) {
      height: 250px;
      min-width: 250px;
      background-position: center center;
      margin: 0 20px 0 0;
      flex: 1;
    }
   
    &.hide-gallery-item {
      display: none;
    }

    p {
        position: absolute;
        bottom: 2px;
        font-size: 160%;
        background-color: $white;
        width: 100%;
        text-align: left;

        @media (min-width: $breakpoint-over-mobile) {
          position: absolute;
          top: 250px;
          font-size: 190%;
        }
    }
  }

  li {
    animation: .5s fadeIn ease-in;
  }

}

@keyframes fadeIn {
  0% {
    transform: translateX(50px);
    opacity: 0.0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1.0;
  }
}