.carousel {
  text-align: center;
  margin: auto;
  height: 330px;
  overflow: hidden; 
  overflow-y: scroll;
  position: relative;
  border: 1px solid $grey;

  @media (min-width: $breakpoint-over-mobile) {
    overflow-x: scroll;
    max-width: 99%;
    height: 350px;
  }

  &__button {
    font-size: 60px;
    width: 120px;
    height: 120px;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    margin-top: -60px;
    top: 160px;
    background: $white url(../images/buttonArrow.svg) no-repeat 25px center;
    opacity: 0.7;
    border-radius: 50% 0 0 50%;

    &--text {
      visibility: hidden;
    }
    &:hover {
      background-color: $grey;
      color: $white;
      opacity: 0.9;
    }
  }

  &__backward {
    left: -60px;
    transform: rotate(180deg);
  }

  &__forward {
    right: -60px;
  }

  .no-content {
    padding: 20px;
    font-size: 30px;

    @media (min-width: $breakpoint-over-mobile) {
      font-size: 40px;
    }
  } 
}
