footer {
  display: none;
  position: fixed; 
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: $black;
  color: $white;
  padding: 20px;


  @media (min-width: $breakpoint-over-mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}