.form-search {
  padding: 0px 0 10px 0;
  display: block;

  @media (min-width: $breakpoint-over-mobile) {
    padding: 20px 0 20px 0;

  }

  &__image-results {
    font-size: 160%;
    padding: 20px 0 20px 0;
  }

  label {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
    font-size: 130%;

    @media (min-width: $breakpoint-over-mobile) {
      max-width: 65%;
      font-size: 160%;
    }
  }

  input {
    padding: 5px;
    height: 50px;
    width: 100%;
    font-size: 130%;
    width: 100%;

    @media (min-width: $breakpoint-over-mobile) {
      max-width: 65%;
      font-size: 160%;
    }
  }

  button {
    display: block;
    padding: 5px;
    font-size: 130%;
    background: $grey url(../images/search-black.svg) no-repeat right center;
    color: $black;
    height: 50px;
    width: 100%;

    &:hover {
      background: url(../images/search-white.svg) no-repeat right center $black;
      color: $white;
    }

     @media (min-width: $breakpoint-over-mobile) {
      display: inline-block;
      max-width: 35%;
      font-size: 160%;
    }
  }
}