// --------------------------------
// FONTS
// --------------------------------
$font-faimly: Ropa sans, Arial, Helvetica, sans-serif;

// --------------------------------
// COLOURS
// --------------------------------
$black: #000;
$white: #fff;
$grey: #eee;

// --------------------------------
// BREAKPOINTS
// --------------------------------
$breakpoint-over-mobile: 768px;